#
#	Enable whitelisting mode.
#

# Ignore everything
*

# Except directories
!*/




#
#	Whitelist
#

# Sources
!*.c
!*.h
!*.cpp
!*.hpp
!*.ui

# Build
!Makefile
!*.pro

# Repository config
!.gitignore
!.gitattributes
!.editorconfig

# Documentation
!*.md
